<div class="container">
  <h1>Welcome!</h1>
  <label for="userName">Username</label><br />
  <input class="loginInput" type="text" name="userName" id="userName" autocomplete="off" /><br />
  <label for="password">Password</label><br />
  <input class="loginInput" type="password" name="password" id="password" autocomplete="off" /><br />
  <input type="checkbox" name="showPass" id="showPass" />
  <label for="showPass">&nbsp; Show Password</label><br />
  <button id="loginBtn" (click)="login()">Login</button>
</div>
